{"is_source_file": true, "file_id": 60, "git_revision": "0c20e461dc70d817c5aaa1390c691186e2b0f715", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "filename": "/home/kavia/workspace/code-generation/kavia-raffleconnect-7026-7031/KaviaRaffleConnectMobile/ios/KaviaRaffleConnectMobile/PrivacyInfo.xcprivacy", "hash": "9b9cd8b7d8a18954bb9f7e7b56fa94b0", "format-version": 4, "code-base-name": "default", "knowledge_revision": 144}