{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 64, "knowledge_revision": 190, "git_revision": "0c20e461dc70d817c5aaa1390c691186e2b0f715", "filename": "/home/kavia/workspace/code-generation/kavia-raffleconnect-7026-7031/KaviaRaffleConnectMobile/ios/KaviaRaffleConnectMobile/Info.plist", "hash": "f3c682277ec099efa830abf8bd70193a", "format-version": 4, "code-base-name": "default", "revision_history": [{"190": "0c20e461dc70d817c5aaa1390c691186e2b0f715"}]}